/* ==========================================================================
   Includes
   ========================================================================== */
@import "reset";
@import "fonts";
@import "icons";
@import "colors";


/* ==========================================================================
   Basics
   ========================================================================== */


.kg-width-wide,
.kg-width-full {
	img {
		/* neede by ghost */
	}
}

body {
	font: 300 1em / 1.5em 'Arial', sans-serif;
	color: $color-gray-40;
	background: white;
}

::-moz-selection, ::selection {
	color: #222;
	background: #D6EDFF;
	text-shadow: none;
}

a {
	color: $color-primary-active;
	text-decoration: none;
	border-bottom: 2px solid $color-primary-active;
	font-weight: 400;
	-webkit-transition: all ease-out 0.2s;
	transition: all ease-out 0.2s;

	&:hover,
	&:focus {
		color: $color-gray-15;
	}
}

.post-content {

	a {
		border-bottom: 2px solid $color-primary-default;

		&:hover,
		&:focus {
			border-color: $color-primary-active;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		text-rendering: optimizeLegibility;
		color: $color-gray-15;

		a {
			font-weight: inherit;
			color: inherit;
		}
	}

	h1 {
		font-size: 2em;
		line-height: 1em;
		margin: 2em 0 -0.5em;
	}

	h2 {
		font-size: 1.75em;
		line-height: 1.143em;
		margin: 2.286em 0 -0.571em;
	}

	h3 {
		font-size: 1.5em;
		line-height: 1.334em;
		margin: 2em 0 -0.667em;
	}

	h4 {
		font-size: 1.25em;
		line-height: 1.2em;
		margin: 2.4em 0 -0.8em;
	}

	p {
		margin: 2em auto;
	}

	ul {
		list-style: none;
	}
	li {
		position: relative;
	}
	ul > li:before,
	ol > li:before {
		position: absolute;
		width: 2em;
		margin-left: -3em;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.5em;
		text-align: right;
		color: $color-gray-15;
	}
	ul > li:before {
		margin-top: 0.125em;
		content: '*';
	}
	ol {
		list-style-type: none;
		counter-reset: item;
	}
	ol > li:before {
		content: counter(item) ". " !important;
		counter-increment: item;
	}

	ol,
	ul {
		padding-left: 3em;
		margin: 2em auto;

		ol,
		ul {
			padding-left: 1.5em;
			margin: 1em auto;
		}
	}

	dl {
		margin: 2em auto;

		dt {
			font-size: 0.875em;
			line-height: 1.143em;
			font-weight: 700;
			margin-bottom: 0.571em;
			color: $color-gray-15;
		}

		dd {
			margin-left: 1em;
			margin-bottom: 1.5em;
		}
	}

	hr {
		display: block;
		height: 1px;
		margin: 2em 0;
		padding: 0;
		background: $color-gray-90;
		border: 0;
	}

	blockquote {
		margin: 2em auto;
		padding: 0 1em;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-left: 0.25em solid $color-gray-85;
		font-style: italic;
		font-weight: 400;
		color: $color-gray-40;
		background: transparent;

		* {
			margin: 1em auto;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	em, i {
		font-style: italic;
		color: $color-gray-25;

		a {
			font-weight: inherit;
			font-style: inherit;
			color: inherit;
		}
	}
	strong, b {
		font-weight: 700;
		color: $color-gray-25;

		a {
			font-weight: inherit;
			color: inherit;
		}
	}

	small {
		font-size: 0.9em;
	}

	mark {
		background-color: $color-yellow-100;
	}

	code,
	tt {
		position: relative;
		top: -1px;
		padding: 3px 6px;
		margin: -1px 2px;
		font-family: 'Inconsolata', monospace;
		font-size: 0.875em;
		line-height: 1.143em;
		white-space: pre-line;
		background: $color-gray-90;
		color: #000;
		font-weight: 400;
		border-radius: 2px;
	}

	pre {
		margin: 2em auto;
		width: 100%;
		padding: 1em;
		font-family: 'Inconsolata', monospace;
		white-space: pre;
		overflow: auto;
		background: $color-gray-65;
		color: #fff;
		box-sizing: border-box;

		code,
		tt {
			position: static;
			top: auto;
			font-size: 1em;
			line-height: 1.5em;
			white-space: -moz-pre-wrap;
			white-space: pre-wrap;
			vertical-align: inherit;
			border: none;
			padding: 0;
			background: transparent;
		}
	}

	pre.codeblock {
		position: relative;
		padding: 1em;
		overflow: hidden;

		code {
			display: block;
			border: 0;
			padding: 1.5em;
			margin: -1em;
			margin-left: 2em;
			white-space: inherit;
			overflow-x: auto;
			background: $color-gray-90;
		}

		.lines {
			position: absolute;
			width: 3em;
			height: 100%;
			left: 0;
			top: 0;
			padding: 1.5em 0;
			border-right: 1px solid $color-gray-85;
			font-size: 1em;
			line-height: 1.5em;
			text-align: right;
			box-sizing: border-box;
			background: $color-gray-90;
			user-select: none;
			cursor: default;

			.line {
				display: block;
				padding-right: 0.5em;
				  color: $color-gray-65;
			}
		}
	}

	kbd {
		display: inline-block;
		margin: 0 2px 4px;
		padding: 1px 8px;
		border: #ccc 1px solid;
		color: #666;
		text-shadow: #fff 0 1px 0;
		font-size: 0.875em;
		font-weight: bold;
		background: $color-gray-97;
		border-radius: 4px;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
	}


	table {
		width: 100%;
		max-width: 100%;
		margin: 2em 0;
		background-color: transparent;
		border: 1px solid $color-gray-90;
		border-collapse: collapse;
	}

	table th,
	table td {
		position: relative;
		padding: 1em;
		line-height: 1em;
		text-align: left;
		border: 1px solid $color-gray-90;
	}
	table th {
		font-weight: 700;
		font-size: 0.75em;
		line-height: 1.334em;
		padding: 1.334em;
		color: $color-gray-15;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 2.5em auto;
	}

	iframe {
		margin: 2.5em auto;
	}

	.fluid-width-video-wrapper {
		margin: 2.5em auto;

		iframe {
			margin: auto;
		}
	}
}

.avatar {
	position: relative;
	overflow: hidden;
	background: $color-gray-90;
	margin: 0;

	&:before,
	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		width: 50%;
		height: 50%;
		bottom: 35%;
		left: 25%;
		border-radius: 100%;
		background: $color-gray-85;
	}

	&:after {
		width: 100%;
		bottom: -25%;
		left: 0;
	}

	img {
		position: relative;
		z-index: 2;
		display: block;
		width: 100%;
		height: auto;
	}
}


/* ==========================================================================
   Default
   ========================================================================== */

#nprogress {

	.bar {
		background: $color-primary-default !important;
		height: 3px !important;

		.peg {
			box-shadow: none !important;
		}
	}

	.spinner {
		display: none !important;
		top: 50% !important;
		right: 50% !important;

		.spinner-icon {
			width: 4em !important;
			height: 4em !important;
			margin: -4em -4em 0 0 !important;
			border-top-color: $color-primary-default !important;
			border-left-color: $color-primary-default !important;
		}
	}
}

.menu-initial {

	body {
		transition:  all ease-out 0.3s;
		overflow: hidden;
	}
}

.menu-active {

	body {
		background: $color-gray-15;
	}
}


.inner {
	max-width: 48em;
	margin: 0 auto;
	padding: 0 1em;
}

#wrapper {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 6em;
}

/* ==========================================================================
   Push Animations
   ========================================================================== */

@keyframes pushPrev {
	0% {
		transform: translate3d(0,0,0);
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translate3d(-150%,0,0);
		opacity: 0;
	}
}

@keyframes pushedPrev {
	0% {
		transform: translate3d(100%,0,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes pushNext {
	0% {
		transform: translate3d(0,0,0);
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translate3d(150%,0,0);
		opacity: 0;
	}
}

@keyframes pushedNext {
	0% {
		transform: translate3d(-100%,0,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

#push {
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
	opacity: 1;
}

.push-next {

	#push {
		animation: pushNext ease-in 0.5s forwards !important;
	}
}

.pushed-next {

	#push {
		animation: pushedNext ease-out 0.5s forwards;
	}
}

.push-prev {

	#push {
		animation: pushPrev ease-in 0.5s forwards !important;
	}
}

.pushed-prev {
	#push {
		animation: pushedPrev ease-out 0.5s forwards;
	}
}



@import "nav";
@import "headers";
@import "footer";

/* ==========================================================================
   Post
   ========================================================================== */

.post {	
	position: relative;
	z-index: 20;

	.post-image {
		display: block;
		margin: 0;
		padding: 0;

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}
	}

	.post-meta {
		display: block;
		font-size: 0.75em;
		line-height: 1.334em;
		font-weight: 400;
		margin-bottom: 1.334em;

		a {
			color: $color-gray-40;
			text-decoration: none;
			border-bottom: 1px solid transparent;

			&:hover,
			&:focus {
				border-bottom-color: $color-primary-default;
			}
		}
	}

	.post-title {
		position: relative;
		color: #000;
		font-size: 2em;
		line-height: 1.375em;
		font-weight: 800;
		text-indent: -1px;
		letter-spacing: -1px;
		margin: 0.25em 0 0.75em;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.334em;
			width: 1em;
			margin-bottom: -2px;
			border-bottom: 4px solid $color-primary-default;
		}

		a {
			border-bottom: none !important;
			color: inherit;
			font-weight: inherit;
		}
	}

	.post-header {
		padding: 4em 0 0;
		margin-bottom: 3em;
	}
}
 @import "index";

/* ==========================================================================
   Post Footer
   ========================================================================== */

.post-footer {
	margin: 4em 0;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	.post-tags {
		float: left;
		max-width: 60%;

		a {
			font-size: 0.875em;
			line-height: 1.714em;
			display: inline-block;
			border: 0;
			margin-bottom: 0.286em;
			padding: 0.286em 0.714em;
			border-radius: 2px;
			color: #fff;
			background: $color-primary-default;
			font-weight: 400;

			&:hover,
			&:focus {
				background: $color-primary-active;
			}
		}
	}

	.post-share {
		float: right;

		a {
			font-size: 0.75em;
			display: block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			text-decoration: none;
			padding: 0.334em;
			margin: 0 0 0.334em 0.334em;
			float: left;
			border-radius: 2px;
			color: #fff;
			background: $color-gray-50;

			&:hover,
			&:focus {

			}

			&:before {
				margin: auto;
			}

			span {
				display: none;
			}

			&.icon-twitter {
				background-color: #3ea9dd;
			}
			&.icon-facebook {
				background-color: #3c5a98;
			}
			&.icon-gplus {
				background-color: #d14836;
			}
		}
	}
}

/* ==========================================================================
   Post Author
   ========================================================================== */

.post-author {
	clear: both;
	margin: 4em 0;
	padding: 2.5em;
	background: #fff;

	@media only screen and (max-width: $breakpoint-phone) {
		padding: 1em;
	}

	.post-author-avatar {
		display: block;
		float: left;
		width: 6em;
		height: 6em;
		margin: 0;
		border-radius: 12em;
		overflow: hidden;

		@media only screen and (max-width: $breakpoint-phone) {
			float: none;
			width: 4em;
			height: 4em;
			margin-bottom: 1em;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
		}
	}

	.post-author-bio {
		padding-left: 8em;

		@media only screen and (max-width: $breakpoint-phone) {
			padding-left: 0;
		}

		.post-author-name {
			font-size: 1.25em;
			line-height: 1.2em;
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 800;
			color: $color-gray-25;
		}

		.post-author-about {
			font-size: 0.75em;
			line-height: 1.667em;
			margin: 0;
			padding-top: 1em;
			border-top: 1px solid $color-gray-90;
		}

		.post-author-meta {
			margin-top: 0.571em;
			margin-bottom: 0;

			span {
				display: inline-block;
				font-size: 0.875em;
				line-height: 1.143em;
				margin-right: 1.143em;
				margin-bottom: 1.143em;
				color: $color-gray-50;

				i {
					color: $color-gray-65;
				}
			}

			.post-author-meta-location {

			}

			.post-author-meta-website {

			}

			.post-author-meta-twitter {

			}

			.post-author-meta-facebook {

			}
		}
	}
}

/* ==========================================================================
   Post Comments
   ========================================================================== */

.post-comments {
	clear: both;
	margin: -3em 0 4em;
	border-radius: 2px;
	padding: 1em;
	border: 1px solid $color-gray-90;

	@media only screen and (max-width: $breakpoint-phone) {
		padding: 0.5em;
	}
}

/* ==========================================================================
   Post Subscribe
   ========================================================================== */

.post-subscribe {
	position: relative;
	padding: 2.5em 1em;
	margin: -3em 0 4em;
	text-align: center;
	border: 1px solid $color-gray-90;
	box-sizing: border-box;
	border-radius: 2px;
	background: radial-gradient(circle, $color-gray-90 10%, transparent 10%), radial-gradient(circle, $color-gray-90 10%, transparent 10%) 0.5em 0.5em;
	background-size: 1em 1em;
	box-shadow: inset 0 0 0 0.75em $color-gray-97;

	@media only screen and (max-width: $breakpoint-phone) {
		padding: 2em 0.5em 1em;
	}

	p {
		display: inline-block;
		font-size: 0.75em;
		line-height: 1.334em;
		font-weight: 400;
		margin: 0 2.667em 2.667em;
		background: $color-gray-97;
		box-shadow: 0 0 0 0.75em $color-gray-97;
		border-radius: 4px;
		color: $color-gray-65;
	}

	.post-subscribe-form {
		position: relative;
		display: block;
		margin: 0 2em;
		box-sizing: border-box;

		@media only screen and (max-width: $breakpoint-phone) {
			margin: 1em;
		}

		.post-subscribe-input {
			width: 100%;
			height: 3.5em;
			padding: 0.25em 1em;
			border: 1px solid $color-gray-90;
			background: #fff;
			appearance: none;
			outline: none;
			box-shadow: none;
			box-sizing: border-box;
			border-radius: 4px;
			transition: all ease-out 0.2s;
			box-shadow: 0 0 0 0.5em $color-gray-97;

			@media only screen and (max-width: $breakpoint-phone) {
				height: 3em;
				border-radius: 2px;
			}

			&:hover {
				border-color: $color-gray-85;
			}

			&:focus {
				border-color: $color-primary-default;
			}
		}

		.post-subscribe-button {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0.25em;
			display: inline-block;
			height: 3em;
			padding: 0 1em;
			font-weight: 500;
			color: #fff;
			font-weight: 400;
			background: $color-primary-default;
			border: 0;
			appearance: none;
			outline: none;
			box-shadow: none;
			box-sizing: border-box;
			border-radius: 2px;
			transition: all ease-out 0.2s;

			@media only screen and (max-width: $breakpoint-phone) {
				position: relative;
				width: 100%;
				margin: 0.5em 0 0;
			}


			&:hover,
			&:focus {
				background: $color-primary-active;
			}
		}
	}
}

/* ==========================================================================
   Post Nav
   ========================================================================== */

.post-nav {
	position: relative;

	@media only screen and (max-width: $breakpoint-desktop) {
		height: 7em;
		margin: 2em 0;
	}

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	.post-nav-item {
		position: fixed;
		top: 50%;
		display: block;
		margin-top: -4em;
		overflow: hidden;
		border-radius: 10em;
		transition: none;

		@media only screen and (max-width: $breakpoint-desktop) {
			position: absolute;
			top: auto;
			margin: auto;
			max-width: 50%;
		}

		&:hover,
		&:focus {
			border-radius: 0;

			.post-nav-teaser {

				.post-nav-icon {
					box-shadow: 0 0 0 25em $color-primary-default;

					@media only screen and (max-width: $breakpoint-tablet) {
						box-shadow: 0 0 0 2px $color-primary-default;
					}
				}

				.post-nav-info {
					display: block;

					@media only screen and (max-width: $breakpoint-tablet) {
						display: none;
					}

					.post-nav-title {
						color: $color-gray-15;
					}

					.post-nav-excerpt {
						color: #fff;
					}
				}
			}
		}

		&.post-nav-next {
			left: 0;
			text-align: left;

			.post-nav-icon {
				float: left;

				i {
					left: -0.05em;
				}
			}

			.post-nav-info {
				padding-left: 6em;
			}
		}

		&.post-nav-prev {
			right: 0;
			text-align: right;

			.post-nav-icon {
				float: right;

				i {
					right: -0.05em;
				}
			}

			.post-nav-info {
				padding-right: 6em;
			}
		}

		.post-nav-teaser {
			display: block;
			padding: 1em;
			transition: all ease-out 0.2s;
			max-width: 25em;
			overflow: visible;

			&:after {
				clear: both;
				content: '';
				display: table;
			}

			.post-nav-icon {
				display: block;
				width: 5em;
				height: 5em;
				line-height: 5em;
				text-align: center;
				box-sizing: border-box;
				border-radius: 10em;
				border: 1px solid $color-primary-default;
				box-shadow: 0 0 0 0 transparent;
				transition: all ease-out 0.1s;
				background: $color-gray-97;

				@media only screen and (max-width: $breakpoint-phone) {
					width: 4em;
					height: 4em;
					line-height: 4em;
				}

				i {
					position: relative;
					font-size: 2em;

					@media only screen and (max-width: $breakpoint-phone) {
						font-size: 1.5em;
					}

					&:before {
						margin: auto;
					}
				}
			}

			.post-nav-info {
				display: none;
				width: 100%;
				box-sizing: border-box;
				transition: all ease-out 0.2s;

				.post-nav-title {
					display: block;
					max-height: 1.25em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					margin: 1.25em 0 0.25em;
					font-size: 1em;
					line-height: 1.25em;
					font-weight: 700;
					color: $color-gray-25;
				}

				.post-nav-excerpt {
					display: block;
					max-height: 1.334em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					margin: 0;
					font-size: 0.75em;
					line-height: 1.334em;
					font-weight: 400;
					color: $color-gray-65;
				}
			}
		}
	}
}

@import "pagination";