{{!< default}}

<header id="header" class="header">
	<div class="inner">
		<h1 class="header-name">
			<a class="header-title" href="{{@blog.url}}">
				{{@blog.title}}
			</a>
		</h1>
		{{#if @blog.description}}
		<p class="header-description">{{@blog.description}}</p>
		{{/if}}
	</div>
</header>
<div id="post-index" class="container">
	<main class="content" role="main">
		{{> "loop"}}
	</main>
</div>